/mario/.settings
/mario/.project
/mario/mario-api/.project
/mario/mario-api/target
/mario/mario-api/.classpath
/mario/mario-api-provider/target
/mario/mario-api-provider/.classpath
/mario/mario-api-provider/.project
/mario/mario-wap-facade/.project
/mario/mario-wap-facade/target
/mario/mario-wap-facade/.classpath
/mario/mario-wap-web/.project
/mario/mario-wap-web/target
/mario/mario-wap-web/.classpath
/mario/.settings/org.eclipse.m2e.core.prefs
/mario/mario-api-provider/.settings/org.eclipse.core.resources.prefs
/mario/mario-api-provider/.settings/org.eclipse.jdt.core.prefs
/mario/mario-api-provider/.settings/org.eclipse.m2e.core.prefs
/mario/mario-api/.settings/org.eclipse.core.resources.prefs
/mario/mario-api/.settings/org.eclipse.jdt.core.prefs
/mario/mario-api/.settings/org.eclipse.m2e.core.prefs
/mario/mario-wap-facade/.settings/org.eclipse.core.resources.prefs
/mario/mario-wap-facade/.settings/org.eclipse.jdt.core.prefs
/mario/mario-wap-facade/.settings/org.eclipse.m2e.core.prefs
/mario/mario-wap-web/.settings/.jsdtscope
/mario/mario-wap-web/.settings/org.eclipse.core.resources.prefs
/mario/mario-wap-web/.settings/org.eclipse.jdt.core.prefs
/mario/mario-wap-web/.settings/org.eclipse.m2e.core.prefs
/mario/mario-wap-web/.settings/org.eclipse.wst.common.component
/mario/mario-wap-web/.settings/org.eclipse.wst.common.project.facet.core.xml
/mario/mario-wap-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
/mario/mario-wap-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
/mario/mario-wap-web/.settings/org.eclipse.wst.validation.prefs
